/* --------------------------------------------------------- */
/* nav bar and general style */
/* --------------------------------------------------------- */

/*Write selector/rule property to position the default position for the skip class element*/
.skip a {
     position: absolute;
     top: -20px;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus {
  top: 0px;
}

/*Write selector/rule property to style all elements when in focus*/
*:focus {
     outline: none;
     border: 3px dashed blue;
     color: white
}

.skip:link,
.skip:visited {
  color: white;
  text-decoration: none;
}

/* this allows the users to know what page they are on */
nav li.currentpage {
    border: 4px solid white;
    background-color: #f1c413;
    text-decoration: none;
}

nav ul {
  padding: 10px;
  text-align: center;
  background-color: #01284c;
}

nav li.currentpage a {
  color: #01284c;
}

nav a:link,
nav a:visited {
  color: white;
}


.logo img {
    justify-content: right;
    width: 20%;
    padding-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: center;
}

nav li {
  list-style: none;
  margin-left: none;
  line-height: 1.5em;
}

li {
  font-size: calc(0.8rem + 0.5vw);
}

h1 {
  font-size: calc(1.3rem + 0.5vw);
  text-align: center;
  padding: 0.5em 0;
}

h2 {
  font-size: calc(1rem + 0.5vw);
  padding: 1em 0 0.5em 0;
}

h3 {
  font-size: calc(0.9rem + 0.5vw);
  padding: 1em 0 0 0;
}

p {
  font-size: calc(0.7rem + 0.5vw);
}

html {
  margin: 20px;
  font-family: Verdana, sans-serif;
  background-color: #01284c;
  line-height: 200%;
}

header, main {
  padding: 0 5% 0 5%;
  font-family: Verdana, sans-serif;
  background-color: #f1c413;
  color: black;
}

header {
  padding-top: 5%;
}

main {
  padding-bottom: 5%;
}

main, footer {
  margin: 0 10px 10px 10px;
}

header {
  margin: 0 10px 0 10px;
}

footer {
  background-color: #d0d0d0;
}

ol, ul {
  list-style: disc;
}



/* --------------------------------------------------------- */
/* index page style */
/* --------------------------------------------------------- */

iframe{
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.error {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
}

.error img {
  width: 30%;
}


.topic {
  list-style: none;
  font-weight: bold;
  padding-top: 2%;
  margin-left: 0;
}

section li {
  margin-left: 10px;
  /* padding-top: 2%; */
}

strong {
  color: #702082;
}


/* --------------------------------------------------------- */
/* resume page style */
/* --------------------------------------------------------- */

.grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  padding-top: 1em;
}

@media (prefers-reduced-motion: reduce) {
  iframe {
    display: none;
  }
}



/* --------------------------------------------------------- */
/* media query for large screen */
/* --------------------------------------------------------- */


/* small tablet view */
@media (min-width: 481px) {
  html {
    margin: 30px;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: #01284c;
    gap: 5px;
  }

  nav li.currentpage {
    border: 4px solid white;
    background-color: #f1c413;
  }

  nav a:link,
  nav a:visited {
    color: white;
  }


  p, li {
    font-size: calc(0.5rem + 0.5vw);
  }

  h1 {
    font-size: calc(1.5rem + 1w);
    text-align: center;
    padding: 0.5em 0;
  }

  h2 {
    font-size: calc(1rem + 1vw);
    padding: 1em 0 0.5em 0;
  }

  h3 {
    font-size: calc(0.7rem + 1w);
    padding: 1em 0 0 0;
  }

}


/* big laptop view */
@media (min-width: 786px) {
  html {
    margin: 40px;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: #01284c;
    gap: 5px;
  }

  nav li.currentpage {
      border: 4px solid white;
      background-color: #f1c413;
  }

  nav a:link,
  nav a:visited {
    color: white;
  }

  p, li {
    font-size: calc(0.6rem + 0.5vw);
  }

  h1 {
    font-size: calc(1.7rem + 1vw);
    text-align: center;
    padding: 0.5em 0;
  }

  h2 {
    font-size: calc(1.2rem + 1vw);
    padding: 1em 0 0.5em 0;
  }

  h3 {
    font-size: calc(0.9rem + 1vw);
    padding: 1em 0 0 0;
  }

  section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 10px;
    gap: 20px;
  }

  section.index ul {
    grid-template-columns: 0.5fr 1.5fr;
  }

  section.three ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section.image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 10px;
    gap: 20px;

  }
  
  section.image .indeximage {
    grid-row: 1/3;
  }

  section.image h2 {
    grid-column: 1/3;
  }

}